.Cake {
  background-color: #e4d3ff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0px;
  padding: 0px;
}

.Cake .theLayers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.Cake .silverPlatter {
  height: 10px;
  width: 100%;
  background-color: silver;
  margin: 0%;
  padding: 0%;
}
