.LayerBuilder {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
}
.LayerBuilder .colorbox {
  height: 20px;
  width: 30px;
  border-radius: 5px;
  margin: 5px;
}
.LayerBuilder .colorInfo,
.heightInfo,
.widthInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  justify-content: space-between;
}
.LayerBuilder .widthBox {
  height: 100%;
  width: 200px;
  background-color: #e4d3ff;
}
.LayerBuilder .heightBox {
  height: 100%;
  width: 200px;
  background-color: #e4d3ff;
}
.LayerBuilder .boxOutline {
  height: 20px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin: 5px 1px;
}
.LayerBuilder p {
  text-align: right;
}
.LayerBuilder .fa-solid.fa-trash {
  height: 25px;
  width: 25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
